/*div{
    border: 1px solid red;
}*/

.notificaiton-row{
    padding: 1%;
    border: 1px solid #3afb92;
    border-radius: 0.25rem;
    background-color: #a4ffcc;
    margin-bottom: 1%;
    box-shadow: 2px 2px #c8c3c338;
}

.notificaiton-row-read{
    padding: 1%;
    border: 1px solid #fbfb3a;
    background-color: rgba(251, 251, 58, 0.31);
    border-radius: 0.25rem;
    margin-bottom: 1%;
    box-shadow: 2px 2px #c8c3c338;
}
