@import url(https://fonts.googleapis.com/css?family=Nunito);
body {
  background: #EAEDED;
  font-family: "Nunito", sans-serif;
}

.card-body {
  padding: 1.5rem 1.5rem;
}

nav {
  padding: 1%;
}

.fixed-scroll {
  overflow-y: scroll;
}

.fake-link span {
  cursor: pointer;
}
.fake-link span:hover {
  text-decoration: underline;
}

.card {
  margin-bottom: 1.5rem;
  box-shadow: 2px 2px #c8c3c338;
}
